<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>리터럴</h1>
<ul>
    <li>
        <pre>th:text="hello"</pre>
        <pre> => <span th:text="hello"></span></pre>
    </li>
    <li>
        <pre>th:text="'hello spring'"</pre>
        <pre> => <span th:text="'hello spring'"></span></pre>
    </li>
<!--    <li>-->
<!--        에러-->
<!--        <pre>th:text="hello spring"</pre>-->
<!--        <pre> => <span th:text="hello spring"></span></pre>-->
<!--    </li>-->
    <li>
        <pre>th:text="'hello ' + ${data}"</pre>
        <pre> => <span th:text="'hello ' + ${data}"></span></pre>
    </li>
    <li>
        <pre>th:text="|hello ${data}|"</pre>
        <pre> => <span th:text="|hello ${data}|"></span></pre>
    </li>
</ul>

</body>
</html>