<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Objects</h1>
<h2>식 기본 객체(Expression Basic Object)</h2>
<ul>
    <li><pre>${#request}        = <span th:text="${#request}"></span></pre></li>
    <li><pre>${#response}       = <span th:text="${#response}"></span></pre></li>
    <li><pre>${#session}        = <span th:text="${#session}"></span></pre></li>
    <li><pre>${session}         = <span th:text="${session}"></span></pre></li>
    <li><pre>${#servletContext} = <span th:text="${#servletContext}"></span></pre></li>
    <li><pre>${#locale}         = <span th:text="${#locale}"></span></pre></li>
</ul>

<h2>편의 객체</h2>
<ul>
    <li><pre>${param.paramData}                 = <span th:text="${param.paramData}"></span></pre></li>
    <li><pre>${#session.sessionData}            = <span th:text="${#session.sessionData}"></span></pre></li>
<!--    <li><pre>${@'basicController.HelloBean'.hello('Spring MVC!')} = <span th:text="${@'basicController.HelloBean'.hello('Spring MVC!')}"></span></pre></li>-->
    <li><pre>${@helloBean.hello('Spring MVC!')} = <span th:text="${@helloBean.hello('Spring MVC!')}"></span></pre></li>
</ul>

</body>
</html>